<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Science Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar_styles.css') }}">
    <style>
        
        .dashboard-container {
            width: 100%;
            height: 100vh; 
            border: none;
        }
    </style>
</head>
<body>
    {% include 'navbar_lecturer.html' %} 

    <div class="main-content">
        <h1 class="dashboard-title">🤖 Machine Learning Dashboard</h1>
        <div class="dashboard-container">
        <!-- Embed the Dash app -->
        <iframe src="/data_science_dashboard/" class="dashboard-container"></iframe>
    </div>

</body>
</html>
