<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Attendance Insights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='attendance_insights.css') }}">
</head>
<body>
    {% include 'navbar_lecturer.html' %}

    <div class="main-content">
        

        
        <iframe src= "/student_attendance_insights/dash/" class="dashboard-frame"></iframe>

    </div>
</body>
</html>
